

<h1 class="text-center">Add Gallery</h1>
<form method="post" action="/admin/galleries/add" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="uploadImage" class="form-label">Image</label>
        <input class="form-control" type="file" id="uploadImage" name="uploadImage">
    </div>
    <div class="mb-3">
        <label for="galleryName" class="form-label">Name</label>
        <input type="text" class="form-control" id="galleryName" name="galleryName" aria-describedby="Name of Gallery" required>
    </div>
    <div class="mb-3">
        <label for="galleryCity" class="form-label">City</label>
        <input type="text" class="form-control" id="galleryCity" name="galleryCity" aria-describedby="City where gallery is located" required>
    </div>
    <div class="mb-3">
        <label for="galleryCountry" class="form-label">Country</label>
        <input type="text" class="form-control" id="galleryCountry" name="galleryCountry" aria-describedby="Country where gallery is located" required>
    </div>
    <div class="mb-3">
        <label for="galleryUrl" class="form-label">Website</label>
        <input type="text" class="form-control" id="galleryUrl" name="galleryUrl" aria-describedby="The gallery's website" required>
    </div>

    <button id="galleryForm" type="submit" class="btn btn-primary">Submit</button>
</form>