<div class="d-flex justify-content-center align-items-center flex-column">
    <h1>{{painting.PaintingName}}</h1>
    <img src="{{painting.ImageUrl}}" alt="{{painting.PaintingName}}" class="w-50">
    <p class="mt-5">You are about to delete this painting!</p>
    <div class="d-flex">
        <form method="post" action="/admin/paintings/delete/{{painting.PaintingId}}">
            <input type="submit" class="btn btn-success mt-1 me-1" value="Confirm">
        </form>
    </div>
</div>